.items-table
  width: 100%

mat-header-row, mat-row
  height: 36px
  min-height: unset

mat-cell:last-of-type
  padding-right: 0

.mat-column-reorder
  flex-basis: 48px
  flex-grow: 0
  cursor: grab

.mat-column-toggle-edit
  flex-basis: 48px
  flex-grow: 0

  .action-button
    margin-left: 4px
    cursor: pointer

.mat-column-remove
  flex-basis: 48px
  flex-grow: 0

  .action-button
    margin-left: 4px
    cursor: pointer


.mat-column-complete
  flex-basis: 48px
  flex-grow: 0

.mat-column-name
  flex-basis: 150px
  flex-grow: 1

  mat-form-field
    width: 100%
    margin-right: 4px

.mat-column-notes
  flex-grow: 2

  mat-form-field
    width: 100%
    margin-left: 4px
