<mat-table
  matSort
  cdkDropList
  [cdkDropListData]="dataSource.data"
  (cdkDropListDropped)="dropItemInTable($event)"
  [dataSource]="dataSource"
  class="items-table">

  <ng-container *ngIf="hasColumn(columnKeys.reorder)" matColumnDef="{{columnKeys.reorder}}">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let item">
      <mat-icon cdkDragHandle>reorder</mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container *ngIf="hasColumn(columnKeys.complete)" matColumnDef="{{columnKeys.complete}}">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="determineCheckAction($event.checked)"
        [checked]="allDone"
        [indeterminate]="anyDone && !allDone">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <mat-checkbox
        [(ngModel)]="item.completed"
        name="item-{{item.id}}-completed">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container *ngIf="hasColumn(columnKeys.itemName)" matColumnDef="{{columnKeys.itemName}}">
    <mat-header-cell mat-sort-header *matHeaderCellDef>Item</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <ng-container *ngIf="!isEditingItem(item.id)">
        {{ item.name }}
      </ng-container>
      <ng-container *ngIf="isEditingItem(item.id)">
        <mat-form-field>
          <input
            matInput
            type="text"
            name="item-{{item.id}}-name"
            maxlength="50"
            [(ngModel)]="item.name"/>
        </mat-form-field>
      </ng-container>
    </mat-cell>
  </ng-container>

  <ng-container *ngIf="hasColumn(columnKeys.notes)" matColumnDef="{{columnKeys.notes}}">
    <mat-header-cell *matHeaderCellDef>Notes</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <ng-container *ngIf="isEditingItem(item.id)">
        <mat-form-field>
          <input
            matInput
            maxlength="100"
            [(ngModel)]="item.notes"
            name="item-{{item.id}}-notes"/>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="!isEditingItem(item.id)">
        {{ item.notes }}
      </ng-container>
    </mat-cell>
  </ng-container>

  <ng-container *ngIf="hasColumn(columnKeys.edit)" matColumnDef="{{columnKeys.edit}}">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let item">
      <div class="action-button">
        <mat-icon *ngIf="!isEditingItem(item.id)" (click)="startItemEdit(item.id)">edit</mat-icon>
        <mat-icon *ngIf="isEditingItem(item.id)" (click)="exitItemEdit()">check</mat-icon>
      </div>
    </mat-cell>
  </ng-container>

  <ng-container *ngIf="hasColumn(columnKeys.remove)" matColumnDef="{{columnKeys.remove}}">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let index = index">
      <div (click)="removeItem(index)" class="action-button">
        <mat-icon>delete</mat-icon>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <ng-container *ngIf="reorderable">
    <mat-row *matRowDef="let row; columns: columns;" cdkDrag [cdkDragData]="row"></mat-row>
  </ng-container>
  <ng-container *ngIf="!reorderable">
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </ng-container>

</mat-table>
