<div class="centered-form">
  <h1>Password Change</h1>
  <div class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Old Password</mat-label>
      <input type="password" name="old" [(ngModel)]="oldPassword" matInput/>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input type="password" name="new" [(ngModel)]="newPassword" matInput/>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Confirm New Password</mat-label>
      <input type="password" name="conf-new" [(ngModel)]="confNewPassword" matInput/>
    </mat-form-field>
  </div>
  <button
    (click)="requestPasswordChange()"
    mat-raised-button
    [disabled]="disabled"
    color="primary">
    Change Password
  </button>
</div>
