.profile-container
  padding: 12px

.user-profile-card-wrapper
  display: flex
  flex-direction: row
  flex-wrap: wrap

  .user-profile-card
    margin: 12px
    width: 300px
    min-height: 200px

  .logout-button
    margin-top: auto
    margin-bottom: 10px
    width: 100%
