@import "../recipe-config"

.step-input-header
  h3
    display: inline-block

.step-len-input-container
  display: flex
  flex-direction: row
  max-width: 300px
  align-items: center

  .leading-text
    display: inline
    flex-shrink: 0
    flex-grow: 0

  .time-input
    margin-left: 6px
    margin-right: 6px
