.dashboard-drawer-container
  padding: 12px
  width: 90%

.recipe-books-container
  .create-book-container
    display: flex
    justify-content: center

.no-recipe-books
  text-align: center

.book-item-wrapper
  display: flex
  align-items: center
  margin-bottom: 4px

  .mat-icon
    font-size: 14px

