<div class="dashboard-drawer-container">
  <div class="recipe-books-container">
    <div class="create-book-container">
      <button mat-stroked-button color="primary" (click)="createRecipeBook()">Create a Recipe Book</button>
    </div>
    <div class="recipe-books-list" *ngIf="!loading">
      <mat-selection-list dense #books (selectionChange)="handleSelectionChange()" [multiple]="false">
        <mat-list-option [value]="undefined">
          View All Recipes
        </mat-list-option>
        <hr/>
        <ng-container *ngIf="recipeBooks.length === 0">
          <div class="no-recipe-books" *ngIf="recipeBooks.length === 0">
            You don't have any recipe books!
          </div>
        </ng-container>
        <ng-container *ngIf="recipeBooks.length > 0">
          <div class="book-item-wrapper" *ngFor="let book of recipeBooks">
            <mat-list-option [value]="book">
              {{ book.name }}
            </mat-list-option>
            <button (click)="copyBookLink(book)" mat-icon-button>
              <mat-icon>link</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteRecipeBook(book)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </mat-selection-list>
    </div>
  </div>
</div>
