.shopping-list-container
  padding: 12px

.name-form-field
  width: 50%
  margin-right: 6px

  .name-input
    font-size: 34px

.shopping-list-item
  width: 100%
  display: flex
  flex-direction: row
  height: 48px

  .item-name
    display: inline
    margin-right: 4px

  .item-notes
    display: inline
    margin-right: 4px
    flex-grow: 1

  .toggle-edit-icon
    display: inline

