.ingredients-list
  .check-container
    display: inline
    margin-right: 6px

  .ingredient-name
    margin-right: 6px

  .ingredient-amount
    color: darken(white, 20%) !important

  .ing-unit
    margin-left: 3px

  mat-list-item
    height: unset

.title-container
  height: 46px

  mat-form-field
    width: 60px

  .ing-title
    margin-bottom: 0
    margin-right: 12px
    display: inline
