<div class="create-recipe-book-wrapper">
  <h3>Create a Recipe Book</h3>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" name="book-name" [(ngModel)]="recipeBook.name" matInput required/>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <mat-hint>{{ recipeBook.description.length }} / {{ descriptionLength }}</mat-hint>
    <textarea
      name="book-description"
      [maxlength]="descriptionLength"
      [(ngModel)]="recipeBook.description"
      matInput
      required>
  </textarea>
  </mat-form-field>

  <div class="button-container">
    <button mat-stroked-button color="primary" [disabled]="disable" (click)="save()">Save</button>
    <button mat-stroked-button (click)="close()">Close</button>
  </div>
</div>
