<h1 mat-dialog-title>Advanced Search</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Recipe Name</mat-label>
    <input
      type="text"
      name="search-recipe-name"
      [(ngModel)]="config.name"
      matInput>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-label>Tags</mat-label>
    <mat-chip-list #tagsList>
      <mat-chip
        [selectable]="false"
        [removable]="true"
        (removed)="removeTag(tag)"
        *ngFor="let tag of config.tags">
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        (matChipInputTokenEnd)="addTag($event)"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        [matChipInputFor]="tagsList">
    </mat-chip-list>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="cancel()">Cancel</button>
  <button mat-stroked-button (click)="search()">Search</button>
</div>
