.recipe-card
  width: 200px

  mat-card-title
    min-height: 30px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  mat-card-subtitle
    .card-description
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      display: block
      height: 24px

  .actions
    display: flex
    flex-direction: row

    .more-menu
      margin-left: auto
      padding: 0
      width: 40px
      height: 40px
      display: inline

.loading-lists
  display: flex
  align-items: center
  justify-content: center

@import "./recipe-card.components.mobile"
