@import "../recipe-config"

.description-container
  margin-bottom: 12px

.advanced-settings-accordion
  margin-top: 12px

  .altitude-settings
    display: flex
    flex-direction: row
    align-items: center

    mat-checkbox
      margin-right: 6px
