<div class="config-part-container">
  <mat-form-field class="description-container" appearance="fill">
    <mat-label>Give your recipe a cool name!</mat-label>
    <mat-hint>{{ nameHint }}</mat-hint>
    <input type="text" [maxLength]="maxNameLen" [(ngModel)]="recipe.name" name="recipe-name" matInput>
  </mat-form-field>
  <mat-form-field class="description-container" appearance="fill">
    <mat-label>Describe your recipe!</mat-label>
    <mat-hint>{{ descriptionHint }}</mat-hint>
    <textarea
      rows="8"
      [maxLength]="maxDescriptionLen"
      name="description"
      [(ngModel)]="recipe.description"
      matInput>
    </textarea>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="recipe.private">
    This recipe is private, and cannot be seen by anyone other than me
  </mat-checkbox>
  <div class="advanced-settings-accordion">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Advanced Options</mat-expansion-panel-header>
        <div class="altitude-settings">
          <mat-checkbox [(ngModel)]="recipe.advanced.highAltitude">
            This recipe was written for high altitude
          </mat-checkbox>
          <mat-form-field *ngIf="recipe.advanced.highAltitude">
            <mat-select name="alt-select" [(ngModel)]="recipe.advanced.altitude">
              <mat-option [value]="undefined">Select Altitude</mat-option>
              <mat-option [value]="3000">3000 - 5000 ft</mat-option>
              <mat-option [value]="5000">5000 - 7000 ft</mat-option>
              <mat-option [value]="7000">7000 - 10000 ft</mat-option>
              <mat-option [value]="10000">10000+ ft</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
