<div class="app-wrapper">
  <mat-toolbar color="primary">
    <button mat-icon-button *ngIf="uiGlobals.showDrawer" (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <span
      class="recipiece-logo"
      (click)="maybeGoHome()"
      [ngClass]="{'clickable': storage.loggedIn}">
      Recipiece
    </span>
  </mat-toolbar>
  <div class="route-wrapper">
    <router-outlet></router-outlet>
  </div>
  <div class="action-container" *ngIf="uiGlobals.showActions">
    <mat-fab-menu
      (onFabMenuItemSelected)="actionSelected($event)"
      icon="expand_less"
      [fabButtons]="actions">
    </mat-fab-menu>
  </div>
</div>
