.config-container
  padding: 12px

  .header-container
    h1
      display: inline
      margin-right: 12px

.error-container
  font-size: 11px
  color: crimson

.save-or-error-container
  height: 36px
  margin-top: 6px
