<div class="config-container" *ngIf="!loading">
  <h1>{{ headerText }}</h1>
  <div class="error-container" *ngIf="!!errorText">
    {{ errorText }}
  </div>
  <button
    (click)="saveRecipe()"
    mat-stroked-button
    color="primary"
    *ngIf="errorText === undefined">
    Save Recipe
  </button>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Basics">
      <ng-container *ngIf="!loading">
        <app-config-recipe-basics [recipe]="recipe"></app-config-recipe-basics>
      </ng-container>
    </mat-tab>
<!--    <mat-tab label="Equipment">-->
<!--      <app-config-recipe-equipment [recipe]="recipe"></app-config-recipe-equipment>-->
<!--    </mat-tab>-->
    <mat-tab label="Ingredients">
      <app-config-recipe-ingredients [recipe]="recipe"></app-config-recipe-ingredients>
    </mat-tab>
    <mat-tab label="Steps">
      <app-config-recipe-steps [recipe]="recipe"></app-config-recipe-steps>
    </mat-tab>
  </mat-tab-group>
</div>
