<div class="about-container">
  <h1>All about Recipiece</h1>
  <mat-expansion-panel>
    <mat-expansion-panel-header>User Agreement</mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Open Source</mat-expansion-panel-header>
    <div>
      Recipiece is built on Angular and Python, and is
      <a href="https://github.com/sjyn/Recipiece">available on Github</a> under the
      <a href="https://choosealicense.com/licenses/agpl-3.0/">GNU Affero General Public License v3.0</a>.
      Bugs may be filed in the <a href="https://github.com/sjyn/Recipiece/issues">issue tracker on Github</a>.
      If you're particularly interested in contributing, feel free to make a pull request on the repo.
    </div>
    <br/>
    <div>
      Parsing of third-party recipes is handled via the wonderful
      <a href="https://github.com/hhursev/recipe-scrapers">Recipe Scrapers</a> library.
    </div>
    <br/>
    <div>
      Formatting of ingredient amounts is provided by
      <a href="https://github.com/infusion/Fraction.js">Fraction.js</a>
    </div>
  </mat-expansion-panel>
</div>
