<div class="about-container">
  <h1>All about Recipiece</h1>
  <mat-expansion-panel>
    <mat-expansion-panel-header>User Agreement</mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Billing</mat-expansion-panel-header>
    <!-- @TODO -- billing vendor? -->
    <div>
      Recipiece does not store any billing information on our own servers; rather,
      our billing vendor is responsible for securely maintaining your data.
    </div>
    <br/>
    <div>
      Recipiece will only bill you if your sign up for the premium tier.
      Should you encounter any issues or wish to dispute your charges, please reach out to us at
      <a href="mailto:support@recipiece.org">support@recipiece.org</a>.
    </div>
    <br/>
    <div>
      Failure to pay when subscribed to the premium tier will result in loss off access to that tier
      and associated data.
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Open Source</mat-expansion-panel-header>
    <div>
      Recipiece is built on Angular and Python, and is
      <a href="https://github.com/sjyn/Recipiece">available on Github</a> under the
      <a href="https://choosealicense.com/licenses/agpl-3.0/">GNU Affero General Public License v3.0</a>.
      Bugs may be filed in the <a href="https://github.com/sjyn/Recipiece/issues">issue tracker on Github</a>.
    </div>
    <br/>
    <div>
      If you're particularly interested in contributing, feel free to make a pull request on the repo.
      We'd love to repay you with a free subscription to Recipiece, if your contribution is accepted.
    </div>
    <br/>
    <div>
      Recipiece uses the USDA's <a href="https://fdc.nal.usda.gov/">FoodData Central API</a> to help
      categorize your shopping list items.
      No personal or identifying information is shared with this service.
    </div>
  </mat-expansion-panel>
</div>
