mat-drawer
  width: 300px

mat-drawer-container
  height: 100%

.drawer-content-container
  padding: 6px

.header-wrapper
  display: flex
  flex-direction: row
  align-items: center
  margin: 6px

  h1
    display: inline-block
    margin-right: 12px
    margin-bottom: 0
