<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="uiGlobals.drawerOpen">
    <app-dashboard-drawer></app-dashboard-drawer>
  </mat-drawer>
  <mat-drawer-content>
    <div class="drawer-content-container">
      <div class="header-wrapper">
        <!--        <ng-container *ngIf="!dashboardState.loading">-->
        <ng-container *ngIf="!!dashboardState.selectedBook">
          <h1>{{ dashboardState.selectedBook.name }}</h1>
        </ng-container>
        <ng-container *ngIf="dashboardState.selectedBook === undefined">
          <h1>All Your Recipes</h1>
        </ng-container>
        <div class="search-bar-container">
          <div class="search-wrapper">
            <mat-form-field>
              <mat-icon matPrefix>search</mat-icon>
              <input
                [ngModel]="dashboardState.searchRecipeName"
                (ngModelChange)="dashboardState.searchRecipeNameChanged($event)"
                class="search-text-input"
                matInput
                type="text"/>
            </mat-form-field>
            <mat-icon
              (click)="openAdvancedSearch()"
              class="adv-search-icon">
              settings_suggest
            </mat-icon>
            <mat-icon
              class="adv-search-icon"
              (click)="dashboardState.clearSearch()"
              *ngIf="dashboardState.filtering">
              clear
            </mat-icon>
          </div>
        </div>
      </div>
      <span
        class="header-wrapper"
        *ngIf="!!dashboardState.selectedBook">
        {{ dashboardState.selectedBook.description }}
      </span>
      <ng-container *ngIf="(dashboardState.recipes | async) as recipes">
        <app-recipe-card-grid
          [manageable]="true"
          [draggable]="true"
          [iconClasses]="iconClasses"
          (edited)="recipeEdited($event)"
          (copied)="recipeCopied($event)"
          (deleted)="recipeDeleted($event)"
          (viewed)="recipeViewed($event)"
          [recipes]="recipes">
        </app-recipe-card-grid>
      </ng-container>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
