.ing-view
  padding-left: 4px
  margin-top: 46px

  .ingredients-list-container
    padding: 2px

  .single-ing-item
    padding-top: 6px
    padding-bottom: 6px

  @media only screen and (max-width: 700px)
    margin-top: 0
