<div class="ing-view">
  <mat-accordion multi>
    <!--    <mat-expansion-panel>-->
    <!--      <mat-expansion-panel-header>Equipment</mat-expansion-panel-header>-->
    <!--    </mat-expansion-panel>-->

    <mat-expansion-panel>
      <mat-expansion-panel-header>Ingredients</mat-expansion-panel-header>
      <div class="ingredients-list-container">
        <mat-form-field>
          <mat-label>Scale</mat-label>
          <input
            [(ngModel)]="scale"
            step="1"
            min="1"
            matInput
            type="number">
        </mat-form-field>
        <mat-divider></mat-divider>
        <ng-container *ngFor="let ing of recipe.ingredients">
          <div class="single-ing-item">{{ getIngDisplay(ing) }}</div>
          <mat-divider></mat-divider>
        </ng-container>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
